HotelResponse/HotelResponse/Service References/HotelServiceClientReference/HotelResponse1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54021/Service/HotelResponse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelResponseService" />
  <xs:element name="GetHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelResponseService" minOccurs="0" name="GetHotelsResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>